html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
#background {
	opacity:0;
}
.b-name {
	fill:black;
	font-weight:bold;
	text-anchor:middle;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
}
.horizontalline {
	stroke:black;
}
.vertmouseline {
	stroke:red;
}
#tooltipHolder {
	width:200px;
	position:absolute;
	border:black 1px solid;
	border-radius:6px;
	background:white;
}
#topgraph{
 width:100%;
 overflow:scroll;
}
#bottomgraph {
	position:fixed;
	bottom:0;
	background:white;
}
 .Apple-iPhone{fill:rgb(230,97,1)}  .Apple-iPad{fill:rgb(253,184,99)}  .Apple-Device{fill:rgb(178,171,210)}  .Unknown{fill:rgb(94,60,153)}
